.money {
	padding: 0;
	margin: 0;
	background-color: rgb(226, 239, 243);
	padding-bottom: 30px;
}

.subM {
	height: 800px;
	position: relative;
	margin: 0px 200px;
	border-left: 1px solid rgb(199, 216, 223);
	padding-left: 15px;
}

.MoneyImg {
	position: absolute;
	right: 0;
	top: 0;
	opacity: 0.7;
	border-bottom-left-radius: 9000px;
	width: 800px;
	height: 800px;
}

.apptitle {
	position: absolute;
	top: 8px;
	z-index: 1;
	color: rgb(11, 75, 128);
}

.appcontent {
	position: absolute;
	top: 100px;
	z-index: 1;
	width: 500px;
	font-weight: 490;
	font-size: large;
	color: rgb(11, 75, 128);
	text-align: justify;
}

.contspan1 {
	font-weight: 700;
	padding-left: 80px;
}

.contspan2 {
	font-weight: 700;
	padding-top: 100px;
}

.donatebutn {
	background-color: rgb(11, 75, 128);
	color: white;
	position: absolute;
	top: 670px;
	left: 160px;
	padding: 15px 30px;
	font-weight: bold;
	border-radius: 7px;
	font-size: x-large;
}

.donatebutn:hover {
	box-shadow: 7px 7px 15px gray;
}

@media only screen and (min-device-width: 350px) and (max-device-width: 550px) {
	.money {
		padding: 0;
		margin: 0;
		background-color: rgb(226, 239, 243);
		padding-bottom: 30px;
	}

	.subM {
		height: 670px;
		position: relative;
		margin: 0px 0px;
		border-left: none;
		padding-left: 0px;
	}

	.MoneyConPart2 {
		display: none;
	}

	.BrForMoney {
		display: none;
	}

	.MoneyImg {
		position: absolute;
		right: 0;
		top: 0;
		opacity: 0.5;
		border-bottom-left-radius: 9000px;
		width: 350px;
		height: 350px;
	}

	.apptitle {
		position: absolute;
		top: 8px;
		z-index: 1;
		color: rgb(11, 75, 128);
	}

	.appcontent {
		position: absolute;
		top: 100px;
		left: 0;
		z-index: 1;
		width: 60vw;
		padding-left: 10px;
		font-weight: 490;
		font-size: 15px;
		color: rgb(11, 75, 128);
		text-align: justify;
	}

	.contspan1 {
		font-weight: 700;
		padding-left: 0px;
	}

	.contspan2 {
		font-weight: 700;
		padding-top: 0px;
	}

	.donatebutn {
		background-color: rgb(11, 75, 128);
		color: white;
		position: absolute;
		top: 590px;
		left: 30vw;
		padding: 15px 30px;
		font-weight: bold;
		border-radius: 7px;
		font-size: medium;
	}

	.donatebutn:hover {
		box-shadow: 7px 7px 15px gray;
	}
}

@media only screen and (min-device-width: 551px) and (max-device-width: 750px) {
	.money {
		padding: 0;
		margin: 0;
		background-color: rgb(226, 239, 243);
		padding-bottom: 30px;
	}

	.subM {
		height: 670px;
		position: relative;
		margin: 0px 0px;
		border-left: none;
		padding-left: 0px;
	}

	.BrForMoney {
		display: none;
	}

	.MoneyImg {
		position: absolute;
		right: 0;
		top: 0;
		opacity: 0.5;
		border-bottom-left-radius: 9000px;
		width: 450px;
		height: 450px;
	}

	.apptitle {
		position: absolute;
		top: 8px;
		z-index: 1;
		color: rgb(11, 75, 128);
	}

	.appcontent {
		position: absolute;
		top: 100px;
		left: 0;
		z-index: 1;
		width: 60vw;
		padding-left: 10px;
		font-weight: 490;
		font-size: 15px;
		color: rgb(11, 75, 128);
		text-align: justify;
	}

	.contspan1 {
		font-weight: 700;
		padding-left: 0px;
	}

	.contspan2 {
		font-weight: 700;
		padding-top: 0px;
	}

	.donatebutn {
		background-color: rgb(11, 75, 128);
		color: white;
		position: absolute;
		top: 590px;
		left: 30vw;
		padding: 15px 30px;
		font-weight: bold;
		border-radius: 7px;
		font-size: medium;
	}

	.donatebutn:hover {
		box-shadow: 7px 7px 15px gray;
	}
}

@media only screen and (min-device-width: 751px) and (max-device-width: 1050px) {
	.money {
		padding: 0;
		margin: 0;
		background-color: rgb(226, 239, 243);
		padding-bottom: 30px;
	}

	.subM {
		height: 670px;
		position: relative;
		margin: 0px 0px;
		border-left: none;
		padding-left: 0px;
	}

	.MoneyImg {
		position: absolute;
		right: 0;
		top: 0;
		opacity: 0.5;
		border-bottom-left-radius: 9000px;
		width: 650px;
		height: 650px;
	}

	.apptitle {
		position: absolute;
		top: 8px;
		z-index: 1;
		color: rgb(11, 75, 128);
	}

	.appcontent {
		position: absolute;
		top: 100px;
		left: 0;
		z-index: 1;
		width: 60vw;
		padding-left: 10px;
		font-weight: 490;
		font-size: 16px;
		color: rgb(11, 75, 128);
		text-align: justify;
	}

	.contspan1 {
		font-weight: 700;
		padding-left: 0px;
	}

	.contspan2 {
		font-weight: 700;
		padding-top: 0px;
	}

	.donatebutn {
		background-color: rgb(11, 75, 128);
		color: white;
		position: absolute;
		top: 593px;
		left: 30vw;
		padding: 15px 30px;
		font-weight: bold;
		border-radius: 7px;
		font-size: large;
	}

	.donatebutn:hover {
		box-shadow: 7px 7px 15px gray;
	}
}

@media only screen and (min-device-width: 1051px) and (max-device-width: 1400px) {
	.money {
		padding: 0;
		margin: 0;
		background-color: rgb(226, 239, 243);
		padding-bottom: 30px;
	}

	.subM {
		height: 850px;
		position: relative;
		margin: 0px 0px;
		border-left: none;
		padding-left: 0px;
	}

	.MoneyImg {
		position: absolute;
		right: 100px;
		top: 0;
		opacity: 0.5;
		border-bottom-left-radius: 9000px;
		width: 750px;
		height: 750px;
	}

	.apptitle {
		position: absolute;
		top: 8px;
		left: 50px;
		z-index: 1;
		color: rgb(11, 75, 128);
	}

	.appcontent {
		position: absolute;
		top: 100px;
		left: 50px;
		z-index: 1;
		width: 60vw;
		padding-left: 10px;
		font-weight: 490;
		font-size: 18px;
		color: rgb(11, 75, 128);
		text-align: justify;
	}

	.contspan1 {
		font-weight: 700;
		padding-left: 0px;
	}

	.contspan2 {
		font-weight: 700;
		padding-top: 0px;
	}

	.donatebutn {
		background-color: rgb(11, 75, 128);
		color: white;
		position: absolute;
		top: 593px;
		left: 30vw;
		padding: 15px 30px;
		font-weight: bold;
		border-radius: 7px;
		font-size: x-large;
	}

	.donatebutn:hover {
		box-shadow: 7px 7px 15px gray;
	}
}
