*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    background-color: black;
    color: white;
    position: absolute;
    width: 100%;
}

.sm-links li a{
    text-decoration: none;
    color: white;
    font-size: large;
}

.sm-links li{
    list-style: none;
    padding: 0rem 0.7rem;
}

.sm-links{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 5rem;
}

.copyright{
    text-align: center;
    padding-top: 0.5rem;
}