* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
	/* font-family: Arial, Helvetica, sans-serif; */
	font-weight: 600;
	width: 100vw;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5% 2%;
	box-shadow: 2px 2px 8px black;
}

.header {
	padding-top: 0;
	padding-bottom: 0;
}

/* .nav-1{
    padding-left: auto;
    margin-left: 35rem;
} */

.navbar {
	padding-top: 0;
}

/* .header{
    position: absolute;
    z-index: 1;
} */

.logo {
	width: 9vw;
	height: 11vh;
	margin-right: auto;
	margin-top: 0;
}

.links {
	cursor: pointer;
	list-style: none;
	margin: 0rem;
	padding: 0rem;
}

.links li {
	display: inline-block;
	padding: 0.5rem 1rem;
	/* font-size: larger;
    font-weight: 600; */
}

.links li a {
	text-decoration: none;
	transition: all 0.3s ease 0s;
	color: black;
}

.links li a:hover {
	color: rgb(0, 19, 128);
}

.login:hover {
	background-color: rgba(242, 242, 247, 0.973);
	border: 3px solid darkblue;
	color: darkblue;
}

.login {
	font-weight: 600;
	/* font-size: 20px; */
	padding: 8px 20px;
	border-radius: 25px;
	background-color: darkblue;
	border: 0px solid darkblue;
	color: white;
}

ul.dropmenu li {
	display: block;
}

ul.dropmenu {
	position: absolute;
	background-color: white;
	box-shadow: 2px 2px 7px black;
	padding: 0rem;
}

.dropmenu a {
	text-align: center;
	text-shadow: none;
}

ul.links li ul.dropmenu {
	visibility: hidden;
	opacity: 0;
}

ul.links li:hover ul.dropmenu {
	visibility: visible;
	opacity: 1;
}
