*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 0rem 1rem;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
}

.nav-1{
    padding-left: 800px;
}

.header{
    position: absolute;
    z-index: 1;
}

.logo{
    width:10vw;
    height: 10vh;
    margin-right: auto;
}

.links{
    cursor: pointer;
    list-style: none;
    margin: 0rem;
    padding: 0rem;
}

.links li{
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: medium;
}

.links li a{
    text-decoration: none;
    transition:all 0.3s ease 0s;
    color: black;
}

.links li a:hover{
    color: green;
    text-shadow: 2px 2px 7px black;
}

.login:hover{
    background-color: green;
    border: 0px solid green;
    box-shadow: 3px 3px 7px black;
}

.login{
    font-weight: 600;
}

ul.dropmenu li {
    display: block;
}

ul.dropmenu{
    position: absolute;
    background-color: gray;
    box-shadow: 2px 2px 7px black;
    padding: 0rem;
}

.dropmenu a{
    text-align: center;
    text-shadow: none;
}

.dropmenu li:hover{
    border: 2px solid black;
    border-radius: 4px;
}
.dropmenu li:hover a{
    color: white;
}

ul.links li ul.dropmenu{
    visibility: hidden;
    opacity: 0;
}

ul.links li:hover ul.dropmenu{
    visibility: visible;
    opacity: 1;

}

ul.links li:hover{
    color: green;
    text-shadow: 2px 2px 7px black;
}