.main-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transform-style: preserve-3d;
}

.main-cont .card1 {
  position: relative;
  width: 320px;
  height: 320px;
  margin: 2rem 4rem;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.main-cont .card1 .box1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 1s ease;
}

.main-cont .card1:hover .box1 {
  transform: rotateY(180deg);
}

.main-cont .card1 .box1 .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-cont .card1 .box1 .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-cont .card1 .box1 .conBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

.main-cont .card1 .box1 .conBx div {
  /* transform-style: preserve-3d; */
  padding: 20px;
  background: linear-gradient(100deg, #130341, #61a1be);
  transform: translateZ(100px);
}

.main-cont .card1 .box1 .conBx div h2 {
  color: white;
}

.main-cont .card1 .box1 .conBx div p {
  color: white;
}

.title2 {
  font-weight: bolder;
  font-size: 60px;
  text-align: center;
  margin-top: 2rem;
}

.tips {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 2rem;
}

.tips ul li {
  font-size: larger;
}

.tips h2 {
  text-decoration: underline;
}

/* Responsive */
@media (min-width: 350px) and (max-width: 550px) {
  .title2 {
    font-weight: bolder;
    font-size: 35px;
    text-align: center;
    margin-top: 2rem;
  }

  .main-cont .card1 {
    position: relative;
    width: 215px;
    height: 220px;
    margin: 1rem 1rem;
  }

  .main-cont .card1 .box1 .conBx div h2 {
    font-size: 15px;
  }

  .main-cont .card1 .box1 .conBx div p {
    font-size: 10px;
  }

  .tips ul li {
    font-size: small;
  }

  .tips h2 {
    font-size: large;
  }

  .tips {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 551px) and (max-width: 750px) {
  .title2 {
    font-weight: bolder;
    font-size: 45px;
    text-align: center;
    margin-top: 2rem;
  }

  .main-cont .card1 {
    position: relative;
    width: 235px;
    height: 230px;
    margin: 1rem 1rem;
  }

  .main-cont .card1 .box1 .conBx div h2 {
    font-size: 20px;
  }

  .main-cont .card1 .box1 .conBx div p {
    font-size: 15px;
  }

  .tips ul li {
    font-size: medium;
  }

  .tips h2 {
    font-size: 20px;
  }

  .tips {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-bottom: 2rem;
  }
}
